body {
  font-family: 'Rowdies', cursive;
  color: white;
  background: no-repeat url('assets/img/microphone-bg.jpg');
  background-size: cover;
}

#app {
  width: 100%;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

h1 {
  font-weight: 300;
}
