body {
  font-family: 'Rowdies', cursive;
  color: white;
  background: no-repeat url('./assets/img/microphone-bg.jpg');
  background-size: cover;
  /* background-attachment: fixed;   */
}

* {
  box-sizing: border-box;
}

h1 {
  font-weight: 300;
}
